
<div class="ui center aligned segment">
  <!-- USER INFO POPULATED BY WHOEVER IS LOGED IN AND ANY ALEARTS ASSOCIATED WITH THEM -->
  <div class="ui two column stackable center aligned grid segment">
    <!-- USER INFORMATION -->
    <div class="column">
      <h2>Welcome user</h2>
      <br>
      <h3>UserID</h3>
    </div>
    <div class="ui vertical divider">or</div>
    <!-- ADMIN ALARTS -->
    <div class="column">
      <div class="ui success message">
        <div class="content">
          <div class="header">Positive Message</div>
          <p>Example description</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui horizontal divider">Controlls</div>
  <!-- A GRID THAT WILL HOUSE ALL THE WIDGETS -->
  <div class="ui grid">
    <!-- INDIVIDUAL WIDGET -->
    <!-- TODO REPLACE WITH ANGULAR CODE TO PROPOGATE ACROSS ALL WIDGETS -->
    <div class="four wide column">
      <ul>
        <li ng-repeat="widget in widgets">
          <div class="ui card">
            <div class="image dimmable">
              <!-- IMAGE ASSOCIATED WITH WIDGET -->
              <img ng-src="{{widget.image}}">
            </div>
            <!-- DATA FOR WIDGET -->
            <div class="content">
              <div class="header">{{widget.title}}</div>
              <div class="description">{{widget.description}}</div>
            </div>
            <div class="ui inverted button"><a href="{{widget.link}}">Activate Widget</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


