<section class="mentor-alias page">
	<div class="mentor-alias ui message" ng-controller="MentorAliasController">
		<div class="ui huge header">
	    	Generate Alias Name
   		</div>
   			<div>Here you will choose what you'd like your alias name to be. This is because we do not allow any identifiable information to be seen by mentees during the search process. Having an alias helps them differentiate between mentors, and also helps them get a sense of your personality.</div><br/>
			<div>Please press the "Generate" button until you have found an alias you like. Once you like the one that displays on screen, continue on.</div>

		<div class="ui form segment">

			<div class="ui button" ng-click="generate()">Generate</div>

			<div id="alias_submit_button" class="ui blue submit button" ng-click="addAliasName(); go('/homescreen')">Next</div>

			<div class="field" ng-if="generateClicked"> 
				<br>
				<h4>Press Next when you want the alias name shown below.</h4>
				
				<div class="ribbon both_ribbon" ng-style="{ 'background-color' : hex }">
					<h2>
						{{color}} {{adjective}} {{animal}}
					</h2> 
				</div>
			</div>

			
		</div>
	

	</div>
</section>