<section class="user-profile page">

	<div class="user-profile message-wrapper">
		<div class="user-profile header">
			<h1>{{profile_title}}</h1>
		</div>

		<div class="view">
			<div class="user-profile message ui">
				<!-- upper profile stuff -->
				<div class="user-profile personal ui grid">
					<div class="four wide column">
						<div class="kindling" ng-class="myMentor.alias.split(' ')[0]">
			        <a class="like ui corner label">
			          <i class="star icon" ng-class="myMentor.favorited"></i>
			        </a>
			        <div class="name color">{{myMentor.alias.split(" ")[0]}}</div>
             	<div class="name adj">{{myMentor.alias.split(" ")[1]}}</div>
             	<div class="name animal">{{myMentor.alias.split(" ")[2]}}</div>
			      </div>
			    </div>

					<div class="six wide column" id="name" ng-show="show_identifier">
						<div class="item">
							<div class="menu-text2">Full Name</div>
							<div class="menu-text">{{show_identifier ? myMentor.first_name + " " + myMentor.last_name : ""}}</div>
						</div>
					</div>

					<div class="six wide column" ng-show="show_identifier">
						<div class="item">
							<div class="menu-text2">Phone</div>
							<div class="menu-text">{{show_identifier ? myMentor.phone_num : ""}}</div>
						</div>
						<div class="item">
							<div class="menu-text2">Email</div>
							<div class="menu-text">{{show_identifier ? myMentor.email : ""}}</div>
						</div>
					</div>
				</div>

				<div class="ui divider"></div>

				<!-- track, focus, etc stuff -->
				<div class="user-profile ui grid">
					<div class="seven wide column">
				    <div class="user-profile ui vertical fluid">
							<div class="item">
								<div class="menu-text2">Breadth Track</div>
								<div class="menu-text">{{myMentor.breadth_track}}</div>
							</div>

							<div class="item">
								<div class="menu-text2">Depth Focus</div>
								<div class="menu-text">{{myMentor.depth_focus}}</div>
							</div>

							<div class="item">
								<div class="menu-text2">Gender</div>
								<div class="menu-text">{{myMentor.gender}}</div>
							</div>

							<div class="item">
								<!-- <div class="menu-text2">Student Year</div>
								<div class="menu-text">{{myMentor.studentYear}}</div> -->
							</div>
						</div>
					</div>

					<div class="eight wide column">
						<div class="user-profile ui vertical fluid">
							<div class="item">
								<div class="menu-text2">Career Development</div>
								<div class="menu-text">{{myMentor.career_dev_program1}}</div>
							</div>

							<div class="item">
								<div class="menu-text2">Future Plans</div>
								<div class="menu-text">{{myMentor.post_grad_plan}}</div>
							</div>

							<div class="item">
								<div class="menu-text2">Academic International Experience</div>
								<div class="menu-text">{{myMentor.international_experience1}}</div>
							</div>

							<div class="item">
								<div class="menu-text2">Expected Graduation</div>
								<div class="menu-text">{{myMentor.expec_graduation}}</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui divider"></div>

				<!-- extra bits of information stuff -->
				<div class="user-info extra ">
					<div class="menu-text2">Organizations, Extracurricular Activities, Interests, Skills, etc</div>
					<div class="menu-text">{{myMentor.extra_info}}</div>
				</div>
			</div>
		</div>
	</div>

<!-- 	<div id="reset-button" class="ui toggle negative button" ng-click="reset()">
    Reset
  </div> -->

</section>