<div class="main logo">
	<img src="images/logo.png"></img>
</div>
<section class="welcome page">
	<div class="welcome-message ui message" ng-controller="WelcomeController">
	  <div class="header">
	    <h1>Welcome to MentorWeb!</h1>
	  	<h2>
	    MentorWeb gives you access to BME mentors with diverse backgorunds and experiences. You have the freemdom to choose who you'd like to mentor you during your first year in the BME program. 
	  	Let's get started!
		</h2>

		</br>
		</br>

	  	<div ng-click="go()" class="ui button">Login</div>
	</div>
	</div>
</section>