


@font-face {
  font-family: 'Icons';
  src: url('fonts/icons.eot'); /* IE9 Compat Modes */
  src: url('fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/icons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/icons.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  position: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #475b62;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}

a p {
  color: #145266;
  font-family: 'Open Sans', sans-serif;
}

.main.ng-scope {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

.header {
  color: #475b62;
  font-family: 'Open Sans', sans-serif;
}

.page>.ui.message  {
	margin: 0 auto;
	width: 60%;
  top: 35px;
}

.welcome .welcome-message .button {
  margin: 0 auto;
  display: block;
  width: 120px;
}

.visible {
  font-family: 'Open Sans', sans-serif;
}

.loading .loading-message img {
  display: block;
  margin: 0 auto;
}

.loading .loading-message .header {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Mentor Search */

.searchmentors .view {
  position: relative;
  width: 95%;
  height: 100%;
  display: block;
  margin: 0 auto;
  top: 35px;
}

.searchmentors .view > div {
  position: relative;
  vertical-align: top;
}

.searchmentor .view .ui.message {
  height: 90%;
}

.searchmentors .nav {
  width: 15%;
  height: 100%;
  min-width: 90px;
  display: inline-block;
  background-color: #ddd;
}

.searchmentors .filter {
  width: 25%;
  height: 100%;
  min-width: 160px;
  display: inline-block;
  background-color: #ddd;
}

.searchmentors .isotope-container {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color: #ddd;
}

.searchmentors .view .mentor-profile {
  width: 30%;
  height: 100%;
  min-width: 240px;
  display: inline-block;
  background-color: #ddd;
}