


@font-face {
  font-family: 'Icons';
  src: url('fonts/icons.eot'); /* IE9 Compat Modes */
  src: url('fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/icons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/icons.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  position: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #475b62;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}

a p {
  color: #145266;
  font-family: 'Open Sans', sans-serif;
}

.main.ng-scope {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

.header {
  color: #475b62;
  font-family: 'Open Sans', sans-serif;
}

.page>.ui.message  {
	margin: 0 auto;
	width: 60%;
  top: 35px;
}

.welcome .welcome-message .button {
  margin: 0 auto;
  display: block;
  width: 120px;
}

.visible {
  font-family: 'Open Sans', sans-serif;
}

.loading .loading-message img {
  display: block;
  margin: 0 auto;
}

.loading .loading-message .header {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Mentor Search */

.searchmentors {
  height: 100%;
  width: 100%;
}

.searchmentors .view {
  position: relative;
  width: 95%;
  height: 100%;
  display: block;
  margin: 0 auto;
  top: 35px;
}

.searchmentors .view > div {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin: -2px;
}

/*.searchmentor .view .ui.message {
  height: 90%;
}*/

.searchmentors .nav {
  width: 15%;
  height: 100%;
  min-width: 90px;
  background-color: #ddd;
}

.searchmentors .filter {
  width: 20%;
  height: 100%;
  min-width: 160px;
  background-color: #eee;
  border-radius: 0.325em 0 0.325em 0;
}

.searchmentors .isotope-container {
  width: 50%;
  height: 100%;
  background-color: #ddd;
  border-radius: 0 0 0.325em 0.325em;
}

.searchmentors .view .mentor-profile {
  width: 30%;
  height: 100%;
  min-width: 240px;
  background-color: #eee;
  border-radius: 0 0.325em 0 0.325em;
}

.searchmentors li {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  text-decoration: none;
}

li {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  text-decoration: none;
  margin: 2px;
}

#isotope-container {
  width: 600px;
}
#container{border:1px solid #666;padding:5px;margin-bottom:20px}
.kindling{width:110px;height:110px;margin:5px;float:left;overflow:hidden;position:relative;background:#888;color:#222;-webkit-border-top-right-radius:1.2em;-moz-border-radius-topright:1.2em;border-top-right-radius:1.2em}
.kindling.alkali{background:#F00;background:red}
.kindling.alkaline-earth{background:#F80;background:#f90}
.kindling.lanthanoid{background:#FF0;background:#cf0}
.kindling.actinoid{background:#0F0;background:#3f0}
.kindling.transition{background:#0F8;background:#0f6}
.kindling.post-transition{background:#0FF;background:cyan}
.kindling.metalloid{background:#08F;background:#06f}
.kindling.other.nonmetal{background:#00F;background:#30f}
.kindling.halogen{background:#F0F;background:#c0f}
.kindling.noble-gas{background:#F08;background:#f09}
.kindling.purple{background:#CC00FF}
.kindling.orange{background:#FF9900}
.kindling.blue{background:#0099FF}
.kindling.green{background:#CCFF00}
.kindling *{position:absolute;margin:0}
.kindling .symbol{left:0.2em;top:0.4em;font-size:3.8em;line-height:1.0em;color:#FFF}
.kindling.large .symbol{font-size:4.5em}
.kindling.fake .symbol{color:#000}
.kindling .name{left:0.5em;bottom:1.6em;font-size:1.05em}
.kindling .weight{font-size:0.9em;left:0.5em;bottom:0.5em}
.kindling .number{font-size:1.25em;font-weight:bold;color:rgba(0,0,0,0.5);right:0.5em;top:0.5em}
