@font-face {
  font-family: 'Icons';
  src: url("fonts/icons.eot");
  /* IE9 Compat Modes */
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/* Reset Styles */
/* Global Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body {
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: auto;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #e0e0e0;
  display: block;
  z-index: -2; }

/*generic level fonts*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Francois One', sans-serif;
  font-weight: normal;
  color: #475b62;
  /*text-shadow: 1px 1px white; */ }

/*specific fonts*/
h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 40px; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px; }

/*For the thin font style*/
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px; }

/*For the slighty bigger thin sub button description*/
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px; }

/*For the thin sub button description*/
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px; }

/*For the nice bold text*/
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px; }

.background-holder {
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; }

nav {
  width: 100vw;
  position: relative;
  z-index: 200; }

.ui.menu .item {
  height: 2.6em;
  /*padding: .8em .9em;*/ }

.ui.menu > .ui.logo.item {
  width: 150px;
  padding: 0px;
  background-color: white; }

.ui.menu > .ui.logo img {
  height: 40px;
  vertical-align: center; }

.ui.button {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: white;
  background-color: #19D1FF; }

.ui.button:hover {
  color: white;
  background-color: #5EDFFF; }

/* Nav Menu */
#nav-menu {
  background-color: #07b6ad;
  margin: 0 auto; }

.logo.item {
  width: 200px;
  /*background-color: #fefefe;*/ }

.logo.item img {
  height: 100%; }

.main.logo {
  margin-left: auto;
  margin-right: auto; }

.main.logo img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.footer {
  height: 100%;
  min-height: 100px;
  display: block; }

.main.ng-scope {
  height: 100%;
  width: 100%; }

.page {
  height: 100%;
  width: 100%;}

.header {
  color: #475b62;
  font-family: 'Open Sans', sans-serif; }

.page > .ui.message {
  margin: 0 auto;
  width: 60%;
  top: 35px; }

.welcome .welcome-message .button {
  margin: 0 auto;
  display: block;
  width: 120px; }

.visible {
  font-family: 'Open Sans', sans-serif; }

/* Semantic overrides */
.ui.message {
  width: 60%;
  background-color: #fff; }

/* Welcome Partial */
.top-bar.ui.menu {
  width: 95vw;
  position: relative;
  margin: 0 auto;
  border-radius: 0px 0px 5px 5px;
  /*background-color: #07b6ad;*/ }

.welcome.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1em; }

.welcome.header img {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.welcome h1 {
  text-align: center; }

/* REGISTER */
.registration.page > .ui.message {
  margin: 0px;
  background-color: #07b6ad;
  width: 100vw; }

.registration.page > .welcome.header h3 {
  text-shadow: 1px 1px white;
  color: black; }

.registration.page > .ui.message h2 {
  text-align: center;
  color: white; }

.registration.page > .ui.message h4 {
  text-align: center;
  color: white; }

.custom.cols {
  height: 10em; }

.custom.cols #left-col {
  float: left;
  margin-left: 25%;
  width: 22%; }

.custom.cols #right-col {
  float: right;
  margin-right: 25%;
  width: 22%; }

.register.col h4 {
  color: white; }

.register.col h5 {
  color: white;
  font-style: normal; }

.register.col > .button {
  margin-left: auto;
  margin-right: auto;
  color: gray;
  background-color: #E6E6E6;
  border-radius: 0px; }

/* User Profile */
.user-profile.message {
  margin: 0px;
  padding: 1em; }

.column #box {
  width: 22.333%; }

.column #name {
  width: 44.333%; }

.user-profile.ui.page.grid {
  padding: 0em; }

.user-profile h1 {
  text-align: center; }

.user-profile.personal {
  padding: 0% 8%; }

.id-box h2 {
  color: white; }

.id-box {
  width: 6.5em;
  height: 6.5em; }

.user-profile.ui > .item {
  padding: .8em; }

.user-info.extra {
  padding: 0% 8%; }

/*  Loading Partial */
.loading .loading-message img {
  display: block;
  margin: 0 auto; }

.loading .loading-message .header {
  display: block;
  margin: 0 auto;
  text-align: center; }

/* Mentor Search */
.searchmentors {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  z-index: 100; }

.searchmentors .view {
  position: relative;
  width: 95%;
  height: 100%;
  display: block;
  margin: 0 auto;
  top: 35px; }

.searchmentors .view > div {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin-left: -3px; }

/*.searchmentor .view .ui.message {
  height: 90%;
}*/
.searchmentors .nav {
  width: 15%;
  height: 100%;
  min-width: 90px;
  background-color: #ebebeb; }

.searchmentors #filter-menu {
  width: 20%;
  min-width: 250px;
  background-color: #ebebeb;
  border-radius: 0.325em 0 0 0.325em;
  z-index: 100;
  margin: 0 15px 0 0; }

.searchmentors #filter-menu .item {
  background-color: #ebebeb; }

.searchmentors #filter-menu .accordion {
  width: 600px; }

.searchmentors #filter-text-input {
  background-color: #fefefe; }

.searchmentors .isotope-container {
  width: 45%;
  min-height: 400px;
  background-color: #ebebeb;
  border-radius: 0 0 0.325em 0.325em;
  z-index: 200;
  margin: 0 15px 0 0;
  padding: 10px; }

.searchmentors .isotope-tttl {
  position: absolute;
  top: 0px;
  left: -50px;
  height: 50px;
  width: 50px;
  z-index: 200; }

.searchmentors .isotope-tttr {
  position: absolute;
  top: 0px;
  right: -50px;
  height: 50px;
  width: 50px;
  z-index: 200; }

#stamp {
  width: 110px;
  height: 110px;
  float: left;
  transform: none !important;
  top: none !important;
  background-color: #eee; }

#stamp.bottom-left {
  bottom: 0px !important;
  left: 0px !important; }

#stamp.bottom-right {
  bottom: 0px !important;
  right: 0px !important; }

.searchmentors .view .mentor-profile {
  min-width: 200px;
  width: 28%;
  background-color: #eee;
  border-radius: 0px 5px 5px 0px;
  z-index: 100;
  margin-top: 0; }

.searchmentors .view .mentor-profile .content {
  padding: 15px;
  color: #999999; }

#isotope-container {
  width: 600px; }

#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px; }

.kindling.color-1 {
  background-color: #C52A79; }

.kindling.color-2 {
  background-color: #B189C3; }

.kindling.color-3 {
  background-color: #B6E763; }

.kindling.color-4 {
  background-color: #EBF233; }

.kindling {
  text-decoration: none;
  margin: 2px; }

.kindling {
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 0em;
  -moz-border-radius-topright: 0em;
  border-top-right-radius: 0em; }

.kindling.alkali {
  background: #F00;
  background: red; }

.kindling.alkaline-earth {
  background: #F80;
  background: #f90; }

.kindling.lanthanoid {
  background: #FF0;
  background: #cf0; }

.kindling.actinoid {
  background: #0F0;
  background: #3f0; }

.kindling.transition {
  background: #0F8;
  background: #0f6; }

.kindling.post-transition {
  background: #0FF;
  background: cyan; }

.kindling.metalloid {
  background: #08F;
  background: #06f; }

.kindling.other.nonmetal {
  background: #00F;
  background: #30f; }

.kindling.halogen {
  background: #F0F;
  background: #c0f; }

.kindling.noble-gas {
  background: #F08;
  background: #f09; }

.kindling.purple {
  background: #CC00FF; }

.kindling.orange {
  background: #FF9900; }

.kindling.blue {
  background: #0099FF; }

.kindling.green {
  background: #CCFF00; }

.kindling * {
  position: absolute;
  margin: 0; }

.kindling .symbol {
  left: 0.2em;
  top: 0.6em;
  font-size: 2.8em;
  line-height: 1.0em;
  color: #FFF; }

.kindling.large .symbol {
  font-size: 4.5em; }

.kindling.fake .symbol {
  color: #000; }

.kindling .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em; }

.kindling .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em; }

.kindling .number {
  font-size: 1.25em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  right: 0.5em;
  top: 0.5em; }

/*# sourceMappingURL=style.css.map */
