	<script type="text/ng-template" id="header.html">
	 <div class="ui menu"> 
		<a class="logo item" ng-show="user.none" href="#/homescreen" ng-click="go('\welcome')"> <img src="images/logo.png"> </a>
      <a class="logo item" ng-show="!user.none" href="#/homescreen" ng-click="go('\homescreen')"> <img src="images/logo.png"> </a>
      <a class="item" ng-show="!user.none" href="#/register" ng-click="go('\editProfile')"> Profile </a>
      <a class="item" ng-show="user.mentee" href="#/searchmentors" ng-click="go('\searchmentors')"> Search Mentors </a>
      <a class="item" ng-show="user.admin" href="#/manageUsers" ng-click="go('\manageUsers')"> Manage Users </a>
      <a class="item" ng-show="user.admin && user.mentor" ng-click="go('\adminHome')">Admin View</a>
      <a class="item" ng-show="!user.none" href="#/contact"> Contact </a>
      <a class="item" ng-show="!user.none" href="#/logout"> Log Out </a>
      </div>
    </script>