.nav{
	font-size: 20px;
	height: 90vh;
	width: 30vh;
	background-color: #EBF5FF;
}

.header{
	height: 10vh;
	width:100%;
	background-color: #B8DBFF;
}

.body{
	position:relative;
	/*margin-left:250px;*/
	margin-left: 3%;
	margin-right: 3%;
}

iframe{
	width: 80%;
	height: 100vh;
}

.button{
   background: transparent;
   color: #fff;

   
   margin-right: 10px;
   border-radius: 5px;
}

.button:hover {
   cursor: hand; cursor:pointer; 
   color: #586B7E;

   background: #fff;
   border-radius: 5px;
   border-color:  #fff;
}