
    <div id="nav-menu" class="ui menu"> 
      <a class="ui logo item" ng-show="user.none == 1" href="#/homescreen" ng-click="go('\welcome')"> <img src="images/logo.png"> </a>
      <a class="ui logo item" ng-show="user.none == 0" href="#/homescreen" ng-click="go('\homescreen')"> <img src="images/logo.png"> </a>
      <a class="item" ng-show="user.none == 0" href="#/editProfile" ng-click="go('\editProfile')"> Profile </a>
      <a class="item" ng-show="user.mentee == 1" href="#/searchmentors" ng-click="go('\searchmentors')"> Search Mentors </a>
      <a class="item" ng-show="user.mentee == 1" href="#/wishlist" ng-click="go('\wishlist')"> Wishlist </a>
      <a class="item" ng-show="user.admin == 1" href="#/manageUsers" ng-click="go('\manageUsers')"> Manage Users </a>
      <a class="item" ng-show="user.admin && user.mentor" ng-click="go('\adminHome')">Admin View</a>
      <a class="item" ng-show="user.none == 0" href="#/contact"> Contact </a>
      <a class="item" ng-show="user.none == 0" href="#/logout"> Log Out </a>
    </div>



<!--     <div id="nav-menu" class="ui menu"> 
      <a class="ui logo item" href="#/welcome"> <img src="images/logo-tiny.png"> </button>
      <a class="item" href="#/register"> Profile </button>
      <a class="item" href="#/wishlist"> Wishlist </button>
      <a class="item" href="#/searchmentors"> Search </button>
      <a class="item" href="#/contact"> Contact </button>
      <a class="right align item" href="#/logout"> Log Out </button></a>
    </div>
 -->