<section class="mentor-register page">
	<div class="mentor-register-message ui message">
	  <div class="header">
	    Mentor Registration
   	</div>
		<h1>Please fill out your profile information so mentees can find you based on similar interests. Note that all of this informaition is required for you to fill out, but no one will see your contact information, or name, except your mentee when you are matched. </h1>

	<div class="ui error form segment" ng-controller="RegisterMentorController">
	<h4 class="ui header">Contact Information</h4>
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input type="text" id="first_name" ng-model="form.fname" placeholder="First Name">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input type="text" id="last_name" ng-model="form.lname" placeholder="Last Name">
	    </div>
	  </div>
	  <div class="field">
	    <label>Email</label>
	    <input type="text" id="email" ng-model="form.email" placeholder="username@gatech.edu">
	  </div>
	  <div class="field">
	    <label>Phone Number</label>
	    <input type="text" id="phone_number" ng-model="form.phone" placeholder="xxx-xxx-xxxx">
	  </div>
	  <!-- DROP DOWN EXAMPLE <div class="field">
	  	<label>Preferred Communication Method</label>
	  	<select ng-model="form.prefComm" ng-options="container.name for container in containers">
	  		<option value="">Select</option>
	  	</select>
	  </div> -->
	  <div class="field">
	  	<label>Preferred Communication Method</label>
	  	<div class="field" ng-repeat="comm in comms" ng-click="newValue(comm.name, 'prefComm')">
	  		<div class="ui radio checkbox">
			  	<input type="radio" name="prefComm" ng-model="form.prefComm" value="{{comm.name}}"/>
			  	<label>{{comm.name}}</label>
			</div>
		</div>
	  </div>

	  <div class="ui section divider"></div>
	  <h4 class="ui header">Demographic Information</h4>

	  <div class="field">
	  	<label>Gender</label>
	  	<div class="field" ng-repeat="gen in genders" ng-click="newValue(gen.name, 'gender')">
	  		<div class="ui radio checkbox">
			  	<input type="radio" name="gender" ng-model="form.gender" value="{{gen.name}}"/>
			  	<label>{{gen.name}}</label>
			</div>
		</div>
	  </div>

	 <!--http://stackoverflow.com/questions/14514461/how-can-angularjs-bind-to-list-of-checkbox-values -->
	 <div class="field">
	  <label>Ethnicity</label>
	  <div class="field" ng-repeat="eth in ethnicities">
	  <div class="ui checkbox">
	  	<input type="checkbox" name="selectedEthn[]" value="{{eth}}" ng-checked="form.ethnicity.indexOf(eth) > -1">
	  	<label ng-click="toggleSelection(eth)">{{eth.name}}</label>
	  </div>
	</div>
	 </div>

		<div class="field">
	  	<label>Depth Focus</label>
	  	<div class="field" ng-repeat="val in dfocusVals" ng-click="newValue(val.name, 'dfocus')">
	  		<div class="ui radio checkbox">
			  	<input type="radio" name="dfocus" ng-model="form.dfocus" value="{{val.name}}"/>
			  	<label>{{val.name}}</label>
			</div>
		</div>
		</div>

	  	<div class="field">
	  	<div ng-show="form.dfocus == 'Other'">
	      	<input type="text" id="dfocusother" ng-model="form.dfocusother" placeholder="Please Specify" ng-model-options="{ updateOn: 'blur' }">
	    </div>
		</div>
	  <div id="reg_submit_button" class="ui blue submit button" ng-click="addMentor()">Submit</div>
	</div>

  <script>
    var addToList = function(number) {
      var s=angular.element('#isotopeContainer').scope();
      s.count = s.count || 0;
      var newItem={name:'add', number:number || s.count--, date: Date.now(), class:'purple'};
      s.$apply(s.xList.push(newItem));
    };
    var addLastItem = function() {
      s.lastNumber = s.lastNumber || [];
      addToList(s.lastNumber.shift());
    };
    var removeItem = function(elem) {
      if (!Array.prototype.filter) return;
      var s=angular.element('#isotopeContainer').scope();
      var number = $(elem).find(".number").attr("number");
      var items = s.xList.filter(function( obj ) {
        return +obj.number != +number;
      });
      s.lastNumber = s.lastNumber || [];
      s.lastNumber.unshift(number);
      s.$apply(s.xList = items);
    };
  </script>

</section>