<section class="mentor-register page">
	<div class="mentor-register-message ui message">
	  <div class="header">
	    Mentor Registration
   	</div>
		<h1>It seems you do not have an account</h1>

	<div class="ui error form segment" ng-controller="RegisterMentorController">
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input type="text" id="first_name" ng-model="fname" required placeholder="First Name">
      Required!</span><br>
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input type="text" id="last_name" ng-model="lname" placeholder="Last Name">
	    </div>
	  </div>
	  <div class="field">
	    <label>Email</label>
	    <input type="text" id="email" ng-model="email" placeholder="username@gatech.edu">
	  </div>
	  <div class="field">
	    <label>Phone Number</label>
	    <input type="text" id="phone_number" ng-model="phone" placeholder="xxx-xxx-xxxx">
	  </div>
	  <div class="field">
	    <label>Communication Method</label>
	    <div class="ui fluid selection dropdown">
	      <div class="text">Select</div>
	      <i class="dropdown icon"></i>
	      <input type="hidden" id="comm_method" ng-model="pref_comm" name="gender">
	      <div class="menu">
	        <div class="item" data-value="phone">Phone</div>
	        <div class="item" data-value="email">Email</div>
	      </div>
	    </div>
	  </div>

	 <!--  <div class="inline field">
	    <div class="ui checkbox">
	      <input type="checkbox">
	      <label>I agree to the Terms and Conditions</label>
	    </div>
	  </div> -->
	  <div id="reg_submit_button" class="ui blue submit button" ng-click="addMentor()">Submit</div>
	</div>

	</div>

  <script>
    var addToList = function(number) {
      var s=angular.element('#isotopeContainer').scope();
      s.count = s.count || 0;
      var newItem={name:'add', number:number || s.count--, date: Date.now(), class:'purple'};
      s.$apply(s.xList.push(newItem));
    };
    var addLastItem = function() {
      s.lastNumber = s.lastNumber || [];
      addToList(s.lastNumber.shift());
    };
    var removeItem = function(elem) {
      if (!Array.prototype.filter) return;
      var s=angular.element('#isotopeContainer').scope();
      var number = $(elem).find(".number").attr("number");
      var items = s.xList.filter(function( obj ) {
        return +obj.number != +number;
      });
      s.lastNumber = s.lastNumber || [];
      s.lastNumber.unshift(number);
      s.$apply(s.xList = items);
    };
  </script>

</section>