<section class="mentee-register page">
	<div class="mentee-register-message ui message">
	  <div class="header">
	    Mentee Registration
  	</div>
		<h1>It seems you do not have an account</h1>
		<h2>What would you like to be?</h2>

	<div class="ui error form segment">
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input id="first_name" placeholder="First Name" type="text">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input id="last_name" placeholder="Last Name" type="text">
	    </div>
	  </div>
	  <div class="field">
	    <label>Email</label>
	    <input id="email" placeholder="username@gatech.edu" type="text">
	  </div>
	  <div class="field">
	    <label>Phone Number</label>
	    <input id="phone_number" placeholder="xxx-xxx-xxxx" type="text">
	  </div>
	  <div class="field">
	    <label>Communication Method</label>
	    <div class="ui fluid selection dropdown">
	      <div class="text">Select</div>
	      <i class="dropdown icon"></i>
	      <input id="comm_method" type="hidden" name="gender">
	      <div class="menu">
	        <div class="item" data-value="phone">Cell Phone</div>
	        <div class="item" data-value="email">Email</div>
	      </div>
	    </div>
	  </div>

	  <div class="inline field">
	    <div class="ui checkbox">
	      <input type="checkbox">
	      <label>I agree to the Terms and Conditions</label>
	    </div>
	  </div>
	  <div id="reg_submit_button" class="ui blue submit button">Submit</div>
	</div>

	</div>
</section>