<section class="mentor-register page">
	<div class="mentor-register-message ui message">
	  <div class="header">
	    Mentor Registration
   	</div>
		<h1>Please fill out your profile information so mentees can find you based on similar interests. Note that all of this informaition is required for you to fill out, but no one will see your contact information, or name, except your mentee when you are matched. </h1>

	<div class="ui error form segment" ng-controller="RegisterMentorController">
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input type="text" id="first_name" ng-model="fname" required placeholder="First Name">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input type="text" id="last_name" ng-model="lname" placeholder="Last Name">
	    </div>
	  </div>
	  <div class="field">
	    <label>Email</label>
	    <input type="email" id="email" ng-model="email" placeholder="username@gatech.edu">
	  </div>
	  <div class="field">
	    <label>Phone Number</label>
	    <input type="text" id="phone_number" ng-model="phone" placeholder="xxx-xxx-xxxx">
	  </div>
	  <div class="field">
	  	<label>Preferred Communication Method</label>
	    <div class="ui selection dropdown" ng-model="prefComm">
	        <div class="text">Select</div>	<i class="dropdown icon"></i>	
	        <div class="menu transition hidden">
	            <div class="item active">Select</div>
	            <div data-value="{{container}}" class="item" ng-repeat="container in containers">{{container.name}}</div>
	        </div>
	    </div>
    	</div>
	  	
	  	<div class="field">
	  	<label>Depth Focus</label>

	  	<div class="field" ng-repeat="dv in dfocusVals">
	  	<div class="field">
	  	<div class="ui radio checkbox" ng-model="dfocus">
		  	<input type="radio" name="dfocus" ng-value="{{dv}}" value="{{dv}}">
		  	<label>{{dv.name}}</label>
		</div>
		</div>
		</div>

		<!-- <div class="field">
		  	<div class="ui radio checkbox">
		  		<input type="radio" name="depth_focus" ng-model="dfocus" ng-value="cardiovascularSystems">
		  		<label>Cardiovascular Systems</label>
		  	</div>
	  	</div>
	  	<div class="field">
		  	<div class="ui radio checkbox">
		  		<input type="radio" name="depth_focus" ng-model="dfocus" value="biomechanics">
		  		<label>Biomechanics</label>
		  	</div>
	  	</div>
	  	<div class="field">
		  	<div class="ui radio checkbox">
		  		<input type="radio" name="depth_focus" ng-model="dfocus" value="biomaterials">
		  		<label>Biomaterials/tissue Engineering</label>
		  	</div>
		</div>
		<div class="field">
	  	<div class="ui radio checkbox">
	  		<input type="radio" name="depth_focus" ng-model="dfocus" value="medicalImaging">
	  		<label>Medical Imaging</label>
	  	</div>
	  	</div>
	  	<div class="field">
		  	<div class="ui radio checkbox">
		  		<input type="radio" name="depth_focus" ng-model="dfocus" value="everything">
		  		<label>Some of Everything</label>
		  	</div>
	  	</div>
	  	<div class="field">
		  	<div class="ui radio checkbox">
		  		<input type="radio" name="depth_focus" ng-model="dfocus" value="other">
		  		<label>Other</label>
		  	</div>
	  	</div> -->
	  	<div class="field" ng-show="dfocus == 'other'">
	      	<input type="text" id="odfocus" ng-model="dfocus" required placeholder="Please Specifiy">
	    </div>
	  </div>
	  <div id="reg_submit_button" class="ui blue submit button" ng-click="addMentor()">Submit</div>
	</div>

  <script>
    var addToList = function(number) {
      var s=angular.element('#isotopeContainer').scope();
      s.count = s.count || 0;
      var newItem={name:'add', number:number || s.count--, date: Date.now(), class:'purple'};
      s.$apply(s.xList.push(newItem));
    };
    var addLastItem = function() {
      s.lastNumber = s.lastNumber || [];
      addToList(s.lastNumber.shift());
    };
    var removeItem = function(elem) {
      if (!Array.prototype.filter) return;
      var s=angular.element('#isotopeContainer').scope();
      var number = $(elem).find(".number").attr("number");
      var items = s.xList.filter(function( obj ) {
        return +obj.number != +number;
      });
      s.lastNumber = s.lastNumber || [];
      s.lastNumber.unshift(number);
      s.$apply(s.xList = items);
    };
  </script>

</section>