<section class="mentee-register page">
	<div class="mentee-register-message ui message">
	 <div class="ui huge header">
	    Mentee Registration
   	</div>
   	<a class="ui right aligned" ng-click="go('/homescreen')">Skip for now</a>
	<div class="ui error form segment" ng-controller="RegisterMenteeController">
	<div class="field">
	<h1>*Note: MentorWeb will not use your information for any other reason than for your own keeping. All mentors are available for you from the beginning. YOU have the freedom to choose your mentor.</h1>
	</div>
	<h2 class="ui inverted black block header">Basic Information</h2>

	<div class="ui form segment">
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input id="first_name" placeholder="First Name" type="text">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input id="last_name" placeholder="Last Name" type="text">
	    </div>
	  </div>
	  <div class="field">
	    <label>Email</label>
	    <input id="email" placeholder="username@gatech.edu" type="text">
	  </div>
	  <div class="field">
	    <label>Phone Number</label>
	    <input id="phone_number" placeholder="xxx-xxx-xxxx" type="text">
	  </div>
	  <div class="field">
	    <label>Communication Method</label>
	    <div class="ui fluid selection dropdown">
	      <div class="text">Select</div>
	      <i class="dropdown icon"></i>
	      <input id="comm_method" type="hidden" name="gender">
	      <div class="menu">
	        <div class="item" data-value="phone">Cell Phone</div>
	        <div class="item" data-value="email">Email</div>
	      </div>
	    </div>
	  </div>

	  <div id="reg_submit_button" class="ui blue submit button">Submit</div>
	</div>

	</div>
</section>