<section class="registration-splash page">
	<div class="welcome header">
		<img src="images/logo.png"></img>
   		<h3>A campus platform that connects students with mentors</h3>
   		<br>
	</div>

	<div class="registration-message ui message">
		<h2>I am a...</h2>
		</br>
		
		<div class="custom cols">
			<div class="registration-splash col" id="left-col">
				<a ng-click="go('/menteeReg')" class="ui button">
		  			Mentee
				</a>	

				<h4>Incoming freshman or transfer student</h4>

				</br>

				<h5>
					You get access to hundreds of mentors with diverse backgrounds and experiences. Select any one of them to be your mentor for the whole school year. 
				</h5>

			</div>

			<div class="registration-splash col" id="right-col">
				<a ng-click="go('/mentorAgreement')" class="ui button">
			  		Mentor
				</a>

				<h4>Upperclassman</h4>

				</br>

				<h5>
					All of your hard earned knowledge and experiences will come in handy when you begin mentoring incoming new students. 
				</h5>	
			</div>
		</div>
	</div>
</section>