<section class="registration page">
	<div class="registration-message ui message">
	  <div class="header">
	    Register
   	</div>
		<h1>It seems you do not have an account</h1>
		<h2>Which role are you signing up for?</h2>

		<div class="ui buttons">
			<a href="#/menteeReg" class="ui animated button">
			  <!-- <div class="ui animated button"> -->
	  		<div class="visible content">Mentee</div>
	  		<div class="hidden content">
	    	<i class="right arrow icon"></i>
	  		<!-- </div> -->
			</div>
			</a>
			<!-- <div class="or"></div> -->
			<a href="#/mentorReg" class="ui animated button">
	  		<div class="visible content">Mentor</div>
	  		<div class="hidden content">
	    	<i class="right arrow icon"></i>
			</div>
			</a>
		</div>
	</div>
</section>