<section class="registration page">
	<div class="registration-message ui message">
	  <div class="ui huge header">
	    Register
   	</div>
		<div class="ui header">It seems you do not have an account</div>
		<div class="ui header">Which role are you signing up for?</div>

		</br>
		<div class="ui buttons">
			<a ng-click="go('/menteeReg')" class="ui button">
			  <!-- <div class="ui animated button"> -->
	  		Mentee
	  		<!-- </div> -->
			</a>
			<!-- <div class="or"></div> -->
			<a ng-click="go('/mentorReg')" class="ui button">
	  		Mentor
			</a>
		</div>
	</div>
</section>