
<section class="searchmentors page">

<div class="view">
  <div id="filter-menu" opt-filter-menu ok-key="filter" class="ui vertical menu">
  <div class="item">
    <div class="ui small icon input">
      <input id="filterTextInput" ok-text-input ng-model="query" placeholder="Search for artists" autofocus>
      <i class="search icon"></i>
    </div>
  </div>
  <label class="filter-label ui">Filter by:</label>
  <div  class="ui basic vertical accordion menu">
    
    <div class="ui item">
      <label class="title">
        <i class="dropdown icon"></i>
        Breadth track
      </label>
      <div ok-filter-group="breadth-track" ok-filter-type="multi" class="active content">
        <div class="ui form">
          <div class="grouped inline fields">
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="pre-health">
                <label ok-sel=".pre-health">Pre-Health</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="research">
                <label ok-sel=".research">Research</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="minor">
                <label ok-sel=".minor">Minor</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="certificate">
                <label ok-sel=".certificate">Certificate</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui item">
      <label class="title">
        <i class="dropdown icon"></i>
        Depth Focus
      </label>
      <div ok-filter-group="depth-focus" ok-filter-type="multi" class="active content">
        <div class="ui form">
          <div class="grouped inline fields">
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="neuroengineering">
                <label ok-sel=".neuroengineering">Neuroengineering</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="cardiovascular-systems">
                <label ok-sel=".cardiovascular-systems">Cardiovascular Systems</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="biomechanics">
                <label ok-sel=".biomechanics">Biomechanics</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="biomaterials">
                <label ok-sel=".biomaterials">Biomaterials</label>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox checkbox">
                <input type="checkbox" name="medical-imaging">
                <label ok-sel=".medical-imaging">Medical Imaging</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui item">
      <label class="title">
        <i class="dropdown icon"></i>
          Gender
      </label>
      <div ok-filter-group="comm-method" class="content active">
        <div class="ui form">
          <div class="grouped inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="female" ></input>
                <label ok-sel=".female">Female</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="male" ></input>
                <label ok-sel=".male">Male</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  	<div class="ui item">
		  <div class="title">
		    <i class="dropdown icon"></i>
		    Communication Method
		  </div>
		  <div ok-filter-group="comm-method" class="content">
		    <div class="ui form">
				  <div class="grouped inline fields">
				    <div class="field">
				      <div class="ui radio checkbox">
				        <input type="radio" name="comm-methods" ></input>
				        <label ok-sel=".phone">Phone</label>
				      </div>
				    </div>
				    <div class="field">
				      <div class="ui radio checkbox">
				        <input type="radio" name="comm-methods" ></input>
				        <label ok-sel=".email">Email</label>
				      </div>
				    </div>
				  </div>
				</div>
		  </div>
		</div>
		<div class="ui item">
		  <div class="title">
		    <i class="dropdown icon"></i>
		    Other Functions
		  </div>
		  <div ok-filter-group="num" class="content">
        <div class="ui buttons">
			    <button type='button' class='ui button' ok-sel="greaterThan50">> 20</button>
          <button type='button' class='ui button' ok-sel="even">Even</button>
        </div>
		  </div>
		</div>
		<div class="ui item">
			<div class="title">
		    <i class="dropdown icon"></i>
		    Colors
		  </div>
			<div ok-filter-group="color" class="content">
		  	<div class="ui buttons">
          <button type='button' class='ui button' ok-sel=".color-1">color 1</button>
          <button type='button' class='ui button' ok-sel=".color-2">color 2</button>
          <button type='button' class='ui button' ok-sel=".color-3">color 3</button>
          <button type='button' class='ui button' ok-sel=".color-4">color 4</button>
      	</div>
      </div>
		</div>
	</div>
</div>

   
			<div class="isotope-container ui">
        <!-- Test tube rim -->
<!--         <div class="isotope-tttl">
          <img src="images/TestTubeTopLeft.png">
        </div>
        <div class="isotope-tttr">
           <img src="images/TestTubeTopRight.png">
        </div> -->

                  <!-- Stamps for bottom of test tube -->
<!--           <div id="stamp" class="corner-stamp stamp bottom-left "></div>
<div id="stamp" class="corner-stamp stamp bottom-right "></div> -->
        <!-- track by user.index -->
        <!-- ISOTOPECONTAINER -->
        <ul id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
          <li ng-repeat="user in userData" isotope-item class="kindling {{user.color}} {{user.adj}} {{user.animal}} {{user.breadthTrack}} {{user.depthFocus}} {{user.gender}} {{user.academicIntExp}} {{user.futurePlans}} {{user.commMethod}} {{user.color}}" ng-click="miniProfileSet(user)">
            <a class="like ui corner label">
              <i class="star icon" ng-class="user.favorited"></i>
            </a>
             <div class="name color">{{user.color}}</div>
             <div class="name adj">{{user.adj}}</div>
             <div class="name animal">{{user.animal}}</div>
             <!-- <div class="weight" date="{{x.date}}">{{x.date | date}}</div> -->
             <!-- <div class="number" user-id={{user.index}} number="{{user.index}}">{{user.index}}</div> -->
          </li>

          <li id="extra" isotope-item class="kindling email">
             <div class="symbol">Aa</div>
             <div class="number" number="20">20</div>
          </li>
        </ul>
	    </div>

			<div class="mentor-profile ui menu" ng-model="miniProfileData">
        <div class="content ui item">
          <!-- <div class="name">Name: {{miniProfileData.firstName + " " + miniProfileData.lastName}}</div>
          <p>Email: {{miniProfileData.email}}</p> -->
          <div class="p-pic">
            <div class="kindling" ng-class="miniProfileData.color">
              <a class="like ui corner label">
                <i class="star icon" ng-class="miniProfileData.favorited"></i>
              </a>
              <div class="name color">{{miniProfileData.color}}</div>
              <div class="name adj">{{miniProfileData.adj}}</div>
              <div class="name animal">{{miniProfileData.animal}}</div>
            </div>
          </div>

          <div class="p-label">Breadth track</div>
          <div class="breadth-track p-field"> {{miniProfileData.breadthTrack}}</div>
          <div class="p-label">Depth focus</div>
          <div class="depth-focus p-field"> {{miniProfileData.depthFocus}}</div>
          <div class="p-label">Gender</div>
          <div class="gender p-field"> {{miniProfileData.gender}}</div>
          <div class="p-label">Academic International Experience</div>
          <div class="academic-int-exp p-field"> {{miniProfileData.academicIntExp}}</div>
          <div class="p-label">Future Plans</div>
          <div class="future-plans p-field"> {{miniProfileData.futurePlans}}</div>

          <div class="profile-link">
            <a>See full profile >></a>
          </div>

          <!-- <div ng-bind-html="wishButton"></div> -->

          <div id="wishlist-add-button" class="ui toggle button" ng-click="wishButton.fn()">
            {{wishButton.contentText}}
          </div>

        </div>
			</div>
		</div>

  <script>
    var removeItem = function(elem) {
      if (!Array.prototype.filter) return;
      var s=angular.element('#isotopeContainer').scope();
      var number = $(elem).find(".number").attr("number");
      var items = s.xList.filter(function( obj ) {
        return +obj.number != +number;
      });
      s.$apply(s.xList = items);
    };
  </script>
</section>