
<section class="searchmentors page">

<div class="view">
  <div opt-filter-menu ok-key="filter" class="ui vertical menu">
  <div class="item">
    <div class="ui small icon input">
      <input id="filterTextInput" ok-text-input ng-model="query" placeholder="Search for artists" autofocus>
      <i class="search icon"></i>
    </div>
  </div>
    <div id="filter-menu" class="ui basic vertical accordion menu">

    	<div class="ui item">
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Communication Method
			  </div>
			  <div ok-filter-group="comm-method" class="content">
			    <div class="ui form">
					  <div class="grouped inline fields">
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="comm-methods" ></input>
					        <label ok-sel=".phone">Phone</label>
					      </div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" name="comm-methods" ></input>
					        <label ok-sel=".email">Email</label>
					      </div>
					    </div>
					  </div>
					</div>
			  </div>
			</div>
			<div class="ui item">
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Other Functions
			  </div>
			  <div ok-filter-group="num" class="content">
          <div class="ui buttons">
				    <button type='button' class='ui button' ok-sel="greaterThan50">> 20</button>
            <button type='button' class='ui button' ok-sel="even">Even</button>
          </div>
			  </div>
			</div>
			<div class="ui item">
				<div class="title">
			    <i class="dropdown icon"></i>
			    Colors
			  </div>
				<div ok-filter-group="color" class="content">
			  	<div class="ui buttons">
            <button type='button' class='ui button' ok-sel=".color-1">color 1</button>
            <button type='button' class='ui button' ok-sel=".color-2">color 2</button>
            <button type='button' class='ui button' ok-sel=".color-3">color 3</button>
            <button type='button' class='ui button' ok-sel=".color-4">color 4</button>
        	</div>
        </div>
		</div>
	</div>
</div>

   
			<div class="isotope-container ui">
        <!-- Test tube rim -->
        <div class="isotope-tttl">
          <img src="images/TestTubeTopLeft.png">
        </div>
        <div class="isotope-tttr">
           <img src="images/TestTubeTopRight.png">
        </div>

                  <!-- Stamps for bottom of test tube -->
<!--           <div id="stamp" class="corner-stamp stamp bottom-left "></div>
<div id="stamp" class="corner-stamp stamp bottom-right "></div> -->
        <!-- track by user.index -->
        <!-- ISOTOPECONTAINER -->
        <ul id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
          <li ng-repeat="user in userData" isotope-item class="kindling {{user.breadthTrack}} {{user.depthFocus}} {{user.gender}} {{user.academicIntExp}} {{user.futurePlans}} {{user.commMethod}} {{user.color}}" ng-click="miniProfileSet(user)">
            <a class="like ui corner label">
              <i class="star icon" ng-class="user.favorited"></i>
            </a>
             <div class="symbol">{{user.firstName.substring(0,1) + user.lastName.substring(0,1).toLowerCase();}}</div>
             <!-- <div class="weight" date="{{x.date}}">{{x.date | date}}</div> -->
             <!-- <div class="number" user-id={{user.index}} number="{{user.index}}">{{user.index}}</div> -->
          </li>

          <li id="extra" isotope-item class="kindling email">
             <div class="symbol">Aa</div>
             <div class="number" number="20">20</div>
          </li>
        </ul>
	    </div>

			<div class="mentor-profile ui menu" ng-model="miniProfileData">
        <div class="content ui item">
          <!-- <div class="name">Name: {{miniProfileData.firstName + " " + miniProfileData.lastName}}</div>
          <p>Email: {{miniProfileData.email}}</p> -->
          <div class="p-pic">
            <div class="kindling" ng-class="miniProfileData.color">
              <div class="symbol">{{miniProfileData.firstName.substring(0,1) + miniProfileData.lastName.substring(0,1).toLowerCase();}}</div>
            </div>
          </div>

          <div class="p-label">Breadth track</div>
          <div class="breadth-track p-field"> {{miniProfileData.breadthTrack}}</div>
          <div class="p-label">Depth focus</div>
          <div class="depth-focus p-field"> {{miniProfileData.depthFocus}}</div>
          <div class="p-label">Gender</div>
          <div class="gender p-field"> {{miniProfileData.gender}}</div>
          <div class="p-label">Academic International Experience</div>
          <div class="academic-int-exp p-field"> {{miniProfileData.academicIntExp}}</div>
          <div class="p-label">Future Plans</div>
          <div class="future-plans p-field"> {{miniProfileData.futurePlans}}</div>

          <div class="profile-link">
            <a>See full profile >></a>
          </div>

          <!-- <div ng-bind-html="wishButton"></div> -->

          <div id="wishlist-add-button" class="ui toggle button" ng-click="wishButton.fn()">
            {{wishButton.contentText}}
          </div>

        </div>
			</div>
		</div>

  <script>
    var removeItem = function(elem) {
      if (!Array.prototype.filter) return;
      var s=angular.element('#isotopeContainer').scope();
      var number = $(elem).find(".number").attr("number");
      var items = s.xList.filter(function( obj ) {
        return +obj.number != +number;
      });
      s.$apply(s.xList = items);
    };
  </script>
</section>