<section class="welcome page">
	<div class="welcome-message ui message">
	  <div class="header">
	    Welcome to Mentoring Web!
	  </div>
	  <p>
	    MentoringWeb gives you access to BME mentors with divers backgorunds and experiences and gives you teh ability to select one of thema s yoru mentor for the 2014-2015 school year.  Let's get started!
	  </p>
	  <p>
	    Perhaps we can talk about it if you have the time.
	  </p>

<!-- 		<a href="#/fork"> -->
		  <div class="ui animated button">
	  		<div class="visible content">Login</div>
	  		<div class="hidden content">
	    	<i class="right arrow icon"></i>
	  		</div>
			</div>
<!-- 		</a> -->
	</div>
</section>