
<section class="wishlist page">

<div class="view">   
			<div class="isotope-container ui">
        <!-- Test tube rim -->
<!--         <div class="isotope-tttl">
          <img src="images/TestTubeTopLeft.png">
        </div>
        <div class="isotope-tttr">
           <img src="images/TestTubeTopRight.png">
        </div> -->

                  <!-- Stamps for bottom of test tube -->
<!--           <div id="stamp" class="corner-stamp stamp bottom-left "></div>
<div id="stamp" class="corner-stamp stamp bottom-right "></div> -->
        <!-- track by user.index -->
        <!-- ISOTOPECONTAINER -->
        <ul id="isotopeContainer" isotope-container ng-cloak class="ng-cloak">
          <li ng-repeat="user in userData" isotope-item class="kindling {{user.color}} {{user.adj}} {{user.animal}} {{user.breadthTrack}} {{user.depthFocus}} {{user.gender}} {{user.academicIntExp}} {{user.futurePlans}} {{user.commMethod}} {{user.color}}" ng-click="miniProfileSet(user)">
            <a class="like ui corner label">
              <i class="star icon" ng-class="user.favorited"></i>
            </a>
             <div class="name color">{{user.color}}</div>
             <div class="name adj">{{user.adj}}</div>
             <div class="name animal">{{user.animal}}</div>
             <!-- <div class="weight" date="{{x.date}}">{{x.date | date}}</div> -->
             <!-- <div class="number" user-id={{user.index}} number="{{user.index}}">{{user.index}}</div> -->
          </li>



        </ul>
	    </div>

			<div class="mentor-profile ui menu" ng-model="miniProfileData">
        <div class="content ui item">
          <!-- <div class="name">Name: {{miniProfileData.firstName + " " + miniProfileData.lastName}}</div>
          <p>Email: {{miniProfileData.email}}</p> -->
          <div class="p-pic">
            <div class="kindling" ng-class="miniProfileData.color">
              <a class="like ui corner label">
                <i class="star icon" ng-class="miniProfileData.favorited"></i>
              </a>
              <div class="name color">{{miniProfileData.color}}</div>
              <div class="name adj">{{miniProfileData.adj}}</div>
              <div class="name animal">{{miniProfileData.animal}}</div>
            </div>
          </div>

          <div class="p-label">Breadth track</div>
          <div class="breadth-track p-field"> {{miniProfileData.breadthTrack}}</div>
          <div class="p-label">Depth focus</div>
          <div class="depth-focus p-field"> {{miniProfileData.depthFocus}}</div>
          <div class="p-label">Gender</div>
          <div class="gender p-field"> {{miniProfileData.gender}}</div>
          <div class="p-label">Academic International Experience</div>
          <div class="academic-int-exp p-field"> {{miniProfileData.academicIntExp}}</div>
          <div class="p-label">Future Plans</div>
          <div class="future-plans p-field"> {{miniProfileData.futurePlans}}</div>

          <div class="profile-link">
            <a>See full profile >></a>
          </div>

          <!-- <div ng-bind-html="wishButton"></div> -->

          <div id="wishlist-remove-button" class="ui toggle button" ng-click="removeFromWishlist()">
            Remove
          </div>
          <div id="wishlist-choose-mentor" class="ui toggle button" ng-click="notification()">
            Choose as my Mentor
          </div>

        </div>
			</div>

    <div id="mentor-note" class="ui page dimmer">
      <div class="ui info message">
        <i class="close icon" ng-click="notification()"></i>
        <div class="title">
          Mentor Confirmation
        </div>
        <div class="back-strip">
          <div class="kindling" ng-class="miniProfileData.color">
              <div class="name color">{{miniProfileData.color}}</div>
              <div class="name adj">{{miniProfileData.adj}}</div>
              <div class="name animal">{{miniProfileData.animal}}</div>
            </div>
          <div class="text-message">
            Are you sure you want to select this person as your official mentor?
          </div>
        </div>
        <div class="ui options">
          <div class="ui Negative medium button" ng-click="notification()">
            Cancel
          </div>
          <div class="ui positive medium button" ng-click="chooseMentor()">
            Yes
          </div>
        </div>
      </div>
    </div>

	</div>

  <script>
    var removeItem = function(elem) {
      if (!Array.prototype.filter) return;
      var s=angular.element('#isotopeContainer').scope();
      var number = $(elem).find(".number").attr("number");
      var items = s.xList.filter(function( obj ) {
        return +obj.number != +number;
      });
      s.$apply(s.xList = items);
    };
  </script>
</section>